*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.card{
    width: 100%;
    height: 100vh;
    grid-template-rows: 210px 250px 20px;
    background: #1d1d1d;
    color:white;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: space-around;

  
}
.box{
    width: 340px;
    height: 500px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 13px 11px 3px rgba(0,0,0,0.75);
    animation: rang 3s  linear -2s  2 normal none;
    
    
    &:hover{
        transition: 2s;
        transform: scale(0.9);
        transform: skew(10deg);
        background-color: #1e1e1e;
            box-shadow: 5px 5px 15px rgba(0, 255, 255, 0.5), 
                        5px 5px 30px rgba(255, 0, 255, 0.5), 
                        5px 5px 45px rgba(255, 255, 0, 0.5);
            color: white;
            font-family: Arial, sans-serif;
          
        
    }
    .img-card{
        width: 435px;
        height: 230px;
        margin-top: 3px;
    }
    span{
        margin-left: 10px;
        color: red;
        font-size: 18px;
    }
    h2{
        margin-left: 10px;
        color: white;
        font-size: 24px;
        margin-bottom: 20px;
    }
    p{
        margin-left: 10px;
        color: white;
        font-size: 16px;
        width: 300px;
    }
    
}

  @keyframes rang{
        
    0%{
        transform: rotate(30deg);
    }
    50%{
        transform: rotate(60deg);
       
  }
}
.box1{
    width: 340px;
    height: 500px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 13px 11px 3px rgba(0,0,0,0.75);
    &:hover{
        transition: 2s;
        transform: scale(0.9);
        transform: skew(10deg);
        background-color: #1e1e1e;
            box-shadow: 5px 5px 15px rgba(0, 255, 255, 0.5), 
                        5px 5px 30px rgba(255, 0, 255, 0.5), 
                        5px 5px 45px rgba(255, 255, 0, 0.5);
            color: white;
            font-family: Arial, sans-serif;
          
        
    }
    .img-card{
        width: 435px;
        height: 230px;
        margin-top: 3px;
    }
    span{
        margin-left: 10px;
        color: red;
        font-size: 18px;
    }
    h2{
        margin-left: 10px;
        color: white;
        font-size: 24px;
        margin-bottom: 20px;
    }
    p{
        margin-left: 10px;
        color: white;
        font-size: 16px;
        width: 300px;
    }
    
}
.box2{
    width: 340px;
    height: 500px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 10px 13px 11px 3px rgba(0,0,0,0.75);
    &:hover{
        transition: 2s;
        transform: scale(0.9);
        transform: skew(10deg);
        background-color: #1e1e1e;
            box-shadow: 5px 5px 15px rgba(0, 255, 255, 0.5), 
                        5px 5px 30px rgba(255, 0, 255, 0.5), 
                        5px 5px 45px rgba(255, 255, 0, 0.5);
            color: white;
            font-family: Arial, sans-serif;
          
        
    }
    .img-card{
        width: 435px;
        height: 230px;
        margin-top: 3px;
    }
    span{
        margin-left: 10px;
        color: green;
        font-size: 18px;
    }
    h2{
        margin-left: 10px;
        color: white;
        font-size: 24px;
        margin-bottom: 20px;
    }
    p{
        margin-left: 10px;
        color: white;
        font-size: 16px;
        width: 300px;
    }
    
}
 

